In [1]:
#!apt update
#!apt install chromium-chromedriver
!pip install selenium

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait

import pandas as pd

Requirement already satisfied: selenium in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\bened\anaconda3\envs\webanalytics\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [46]:

def extract_value_from_format(input):
    value = None

    if "%" in input:
        value = float(input.replace("%", ""))
    elif "M" in input:
        value = float(input.replace("M", "")) * 1000 * 1000
    elif "B" in input:
        value = float(input.replace("B", "")) * 1000 * 1000 * 1000
    elif input.replace('.','',1).isdigit():
        value = float(input)
    elif "N/A" in input:
        pass  # value = None


    else:
        print("input not preprocessed: ", input)

    return value

In [43]:
def get_key_from_metric_label(label):
    return label.replace(" ", "_")

def add_metrics_from_site(driver, metrics, metrics_by_label):
    
    if len(driver.find_elements(By.ID, 'Col1-0-KeyStatistics-Proxy')) == 0:
        print("ERROR: no key-statistics page found! Returns empty metrics")
        return metrics + [None] * (len(metrics_by_label) - 1) # return placeholders
    
    
    metrics_body = driver.find_element(By.ID, 'Col1-0-KeyStatistics-Proxy')
    
    for metric_label in metrics_by_label:
        if metric_label == Metrics.TICKER: # tickername only for dataframe-label reasons. Maybe change logic to more sothisticated list 
            continue
            
        market_cap_element = metrics_body.find_element(By.XPATH, "//tr[contains(., '"+metric_label+"')]")
        child_elements = market_cap_element.find_elements(By.XPATH, "./*")

        assert(len(child_elements) == 2)
        
        # extract values from format
        value = extract_value_from_format(child_elements[1].text) 
        metrics.append(value)
        #metrics.append(child_elements[1].text)
        
        # TODO!
        #if get_key_from_metric_label(child_elements[0].text) != metric_label:
        #    print("Caution: modified metric-name from website " + get_key_from_metric_label(child_elements[0].text) + " differs from the used column-key: "+ metric_label )
        
        
        #metrics[get_key_from_metric_label(child_elements[0].text)] = child_elements[1].text
        #metrics.append((child_elements[0].text, child_elements[1].text))  # TODO return metric_label value (but be aware of the contains-search!)

    return metrics

In [38]:
# supporting class with constants from the website (keys etc.)
class Metrics(object):
    
    # Valuation Measures
    MARKET_CAP = 'Market Cap'
    MARKET_CAP_KEY = 'Market_Cap'
    ENTERPRISE_VALUE = 'Enterprise Value'
    ENTERPRISE_VALUE_KEY = 'Enterprise_Value'
    
    
    # Profitability
    PM = "Profit Margin"
    OM = "Operating Margin"
    
    # Management Effectiveness
    ROA = "Return on Assets"
    ROE = "Return on Equity"
    
    # Balance Sheet
    TC = "Total Cash (mrq)"  # CAUTION! search only by contains, not equals!
    TCPS = "Total Cash Per Share (mrq)"
    TD = "Total Debt (mrq)"  # CAUTION! search only by contains, not equals!
    TDE = "Total Debt/Equity (mrq)"
    # ...
    
    # Cash Flow Statement
    OCF = "Operating Cash Flow"
    LFCF = "Levered Free Cash Flow"
    
    # Dividiens & Splits
    FADR = "Forward Annual Dividend Rate"
    FADY = "Forward Annual Dividend Yield"
    TADR = "Trailing Annual Dividend Rate"
    TADY = "Trailing Annual Dividend Yield"
    Y5ADY = "5 Year Average Dividend Yield"
    PR = "Payout Ratio"
    # ...
    
    base = []
    TICKER = "Ticker"
    
    
    def __init__(self):
        self.base = [self.TICKER]
    
    def basics(self, addBase=False):
        if addBase:
            return self.base + [self.MARKET_CAP, self.ENTERPRISE_VALUE]
        else:
            return [self.MARKET_CAP, self.ENTERPRISE_VALUE]
    
    def diviends(self, addBase=False):
        if addBase:
            return self.base + [self.FADR, self.FADY, self.TADR, self.TADY, self.Y5ADY, self.PR]
        else:
            return [self.FADR, self.FADY, self.TADR, self.TADY, self.Y5ADY, self.PR]
        
    
    def dividends_slides(self, addBase=False):
        if addBase:
            return self.base + [self.FADY, self.TADY, self.Y5ADY, self.PR, self.PM, self.ROE, self.TC]
        else:
            return [self.FADY, self.TADY, self.Y5ADY, self.PR, self.PM, self.ROE, self.TC]
    
    def stability_slides(self, addBase=False):
        if addBase:
            return self.base + [self.TDE, self.OCF, self.LFCF]
        else:
            return [self.TDE, self.OCF, self.LFCF]
    
    def from_slides(self):
        return self.dividends_slides(addBase=True) + self.stability_slides()
    
    

class Tickerinfo(object):  # for additional type security
    
    def __init__(self, name, url):
        self.name = name
        self.url = url

In [47]:
options = webdriver.ChromeOptions()
options.add_argument('--headless') # for not displaying the graphical environment, shows virtualized browser without GUI
options.add_argument('--no-sandbox') # so that it can access machine resources, blocking sandbox processes it can access whatever
options.add_argument('--disable-dev-shm-usage')  # colab does not have enough memory
# open it, go to a website, and get results
driver = webdriver.Chrome(options=options)

url = "https://finance.yahoo.com/"
driver.get(url)

try:
    # Accept cookies by clicking the button with the specified ID
    print("accept cookies")
    iframe = driver.find_element(By.CLASS_NAME, 'con-wizard')
    accept_cookies_button = iframe.find_element(By.CLASS_NAME, 'accept-all')
    accept_cookies_button.click()
    
    
    print("call trending tickers")
    # call url with tickers:
    driver.get("https://finance.yahoo.com/trending-tickers")
    
    tab = driver.find_element(By.TAG_NAME, 'tbody')
    tickers = []
    assert(tab)
    elements = tab.find_elements(By.TAG_NAME, 'tr')
    
    print("amount of tickers: ", len(elements))
    #elements = elements[:5]  # TODO, take all tickers (only for testing)
    
    
    links = [e.find_element(By.TAG_NAME, 'a') for e in elements]

    for l in links:
        tickers.append(Tickerinfo(l.text, l.get_attribute("href")))
    
    print("getting tickers finished")
    
    required_metrics = Metrics().from_slides()
    
    df_metrics = pd.DataFrame(columns=[get_key_from_metric_label(label) for label in required_metrics])
    
    # call metric-webpage for each ticker and scrape values
    for ticker in tickers:
        #if not ticker.name == "ES=F":
        #    continue
            
        tickername = ticker.name
        print()
        print("ticker: ", tickername)
        url = "https://finance.yahoo.com/quote/"+tickername+"/key-statistics?p="+tickername
        driver.get(url)

        metrics = [tickername]
         # get metric values from website
        print("start scraping metrics for ticker from: ", driver.current_url)
        metrics = add_metrics_from_site(driver, metrics, required_metrics)

         # add metrics as new last row to df
        df_metrics.loc[len(df_metrics)] = metrics

    #print(df_metrics)

finally:
    # Close the WebDriver
    driver.quit()
    
print()
print("finished scraping")

accept cookies
call trending tickers
amount of tickers:  30
getting tickers finished

ticker:  PFE
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/PFE/key-statistics?p=PFE

ticker:  PATH
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/PATH/key-statistics?p=PATH

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  ULTA
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/ULTA/key-statistics?p=ULTA

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  MRVL
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/MRVL/key-statistics?p=MRVL

ticker:  ESTC
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/ESTC/key-statistics?p=ESTC

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  BABA
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/BABA/key-statistics?p=BABA

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  ALT
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/ALT/key-statistics?p=ALT

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  U
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/U/key-statistics?p=U

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  BTC-USD
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/BTC-USD?p=BTC-USD
ERROR: no key-statistics page found! Returns empty metrics

ticker:  MARA

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

start scraping metrics for ticker from:  https://finance.yahoo.com/quote/MARA/key-statistics?p=MARA

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  HCDI
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/HCDI/key-statistics?p=HCDI

ticker:  CLSK

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

start scraping metrics for ticker from:  https://finance.yahoo.com/quote/CLSK/key-statistics?p=CLSK

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  AFRM
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/AFRM/key-statistics?p=AFRM

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  WISH
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/WISH/key-statistics?p=WISH

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  NEXI
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/NEXI/key-statistics?p=NEXI

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  UPST
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/UPST/key-statistics?p=UPST

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  INTC
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/INTC/key-statistics?p=INTC

ticker:  DELL
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/DELL/key-statistics?p=DELL

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  IOT
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/IOT/key-statistics?p=IOT

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  MSFT
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/MSFT/key-statistics?p=MSFT

ticker:  GGE
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/GGE/key-statistics?p=GGE
input not preprocessed:  105.66k
input not preprocessed:  -969.66k

ticker:  PARA

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

start scraping metrics for ticker from:  https://finance.yahoo.com/quote/PARA/key-statistics?p=PARA

ticker:  DOCU
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/DOCU/key-statistics?p=DOCU

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  VIEW
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/VIEW/key-statistics?p=VIEW

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  HUBC
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/HUBC/key-statistics?p=HUBC

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  COIN
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/COIN/key-statistics?p=COIN

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  BIOR
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/BIOR/key-statistics?p=BIOR

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  LULU
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/LULU/key-statistics?p=LULU

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  SMCI
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/SMCI/key-statistics?p=SMCI

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

ticker:  RIOT
start scraping metrics for ticker from:  https://finance.yahoo.com/quote/RIOT/key-statistics?p=RIOT

C:\Users\bened\AppData\Local\Temp\ipykernel_31836\3239735867.py:60: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_metrics.loc[len(df_metrics)] = metrics

finished scraping

In [35]:
#x = float('3.7v8') #.isnumeric()
x = '3,78'.replace('.','',1).isdigit()
print(x)

False

In [ ]:
# done: postprocess data within dataframe

# todo: import NASDAQ-100 tickers

# scrape dividend data for tickers:

# https://finance.yahoo.com/quote/AAPL/history?period1=1669797901&period2=1701333901&interval=capitalGain%7Cdiv%7Csplit&filter=div&frequency=1d&includeAdjustedClose=true

In [ ]:
relative_column = "Forward_Annual_Dividend_Yield"

df_metrics["Payout_Ratio"]

In [48]:
df_metrics

,Ticker,Forward_Annual_Dividend_Yield,Trailing_Annual_Dividend_Yield,5_Year_Average_Dividend_Yield,Payout_Ratio,Profit_Margin,Return_on_Equity,Total_Cash_(mrq),Total_Debt/Equity_(mrq),Operating_Cash_Flow,Levered_Free_Cash_Flow
0,PFE,5.38,5.35,3.78,89.07,15.29,11.06,4.418000e+10,65.98,1.204000e+10,-4.702500e+08
1,PATH,NaN,0.00,NaN,0.00,-12.51,-7.93,1.820000e+09,2.94,2.474400e+08,3.760400e+08
2,ULTA,NaN,0.00,NaN,0.00,11.37,62.64,1.218100e+08,103.52,1.270000e+09,6.263500e+08
3,MRVL,0.43,0.11,0.65,11.01,-10.11,-3.61,7.256000e+08,27.48,1.180000e+09,1.500000e+09
4,ESTC,NaN,0.00,NaN,0.00,-19.33,-53.43,9.570900e+08,143.65,8.318000e+07,2.662200e+08
5,BABA,NaN,0.00,NaN,0.00,14.50,11.31,5.743600e+11,16.96,2.133100e+11,1.296500e+11
6,ALT,NaN,0.00,NaN,0.00,0.00,-44.15,1.407800e+08,0.52,-7.658000e+07,-5.197000e+07
7,U,NaN,0.00,NaN,0.00,-42.31,-30.35,1.510000e+09,82.55,1.135400e+08,4.924300e+08
8,BTC-USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MARA,NaN,0.00,NaN,0.00,-133.72,-42.13,1.012100e+08,31.94,-3.172200e+08,-2.067500e+08
10,HCDI,NaN,0.00,NaN,0.00,-96.94,-54.70,8.050000e+06,308.87,-4.703000e+07,-5.150000e+06
11,CLSK,NaN,0.00,NaN,0.00,-73.22,-21.20,2.994000e+07,2.47,3.251000e+07,3.495000e+07
12,AFRM,NaN,0.00,NaN,0.00,-52.58,-35.31,1.170000e+09,221.37,5.987000e+07,-2.044900e+08
13,WISH,NaN,0.00,NaN,0.00,-100.56,-84.87,4.450000e+08,5.15,-3.750000e+08,-2.330000e+08
14,NEXI,NaN,0.00,NaN,0.00,0.00,-156.80,9.000000e+06,7.32,-3.672000e+07,-2.110000e+07
15,UPST,NaN,0.00,NaN,0.00,-46.38,-37.22,5.165800e+08,195.16,-2.696600e+08,-2.154400e+08
16,INTC,1.12,2.19,2.99,75.26,-3.11,-1.60,2.503000e+10,46.25,1.455000e+10,-4.480000e+09
17,DELL,1.95,0.43,NaN,39.89,2.92,NaN,8.300000e+09,NaN,9.860000e+09,1.280000e+09
18,IOT,NaN,0.00,NaN,0.00,-26.77,-24.01,6.597600e+08,10.92,2.569000e+07,9.395000e+07
19,MSFT,0.79,0.74,1.01,26.36,35.31,39.11,1.439500e+11,47.88,9.497000e+10,5.042000e+10
20,GGE,NaN,0.00,NaN,0.00,0.00,-163.25,NaN,315.90,NaN,-5.546000e+07
21,PARA,1.39,4.04,3.19,93.20,-3.65,-5.91,1.800000e+09,75.84,-7.600000e+07,1.494000e+10
22,DOCU,NaN,0.00,NaN,0.00,-0.64,-2.72,1.440000e+09,103.67,6.342400e+08,9.691700e+08
23,VIEW,NaN,0.00,NaN,0.00,0.00,-387.98,5.062000e+07,NaN,-1.950900e+08,-1.380200e+08
24,HUBC,NaN,0.00,NaN,0.00,-102.32,-214.51,3.990000e+06,225.70,-2.343000e+07,1.098000e+07
25,COIN,NaN,0.00,NaN,0.00,-28.00,-12.74,5.100000e+09,54.10,1.827000e+08,4.610300e+08
26,BIOR,NaN,0.00,NaN,0.00,0.00,NaN,1.257000e+07,NaN,-4.577000e+07,1.606000e+07
27,LULU,NaN,0.00,NaN,0.00,11.40,31.52,1.110000e+09,33.78,1.630000e+09,8.095100e+08
28,SMCI,NaN,0.00,NaN,0.00,8.29,32.32,5.432600e+08,7.96,6.204600e+08,4.726400e+08
29,RIOT,NaN,0.00,NaN,0.00,-110.24,-21.88,2.901100e+08,1.63,-1.046000e+07,-2.421800e+08

In [56]:

df_metrics.to_csv('./../Dataset/data.csv')